// initial values
$is-brown-theme: false !default;
$is-yellow-theme: false !default;
$is-green-theme: false !default;
$is-turqoise-theme: false !default;
$is-lightblue-theme: false !default;
$is-darkblue-theme: false !default;
$is-purple-theme: false !default;
$is-pink-theme: false !default;
$is-orange-theme: false !default;
$is-bloodorange-theme: false !default;
$is-red-theme: false !default;

$is-pastel: false !default;

$buttons: #e0dee0;
$operators: #b0aeb0;
$dark: #686668;

// this never changes
$light: #eee;

// THEMES

// brown theme
@if $is-brown-theme {
  $buttons: #e0a928;
  $operators: #ad831f;
  $dark: #634704;
}

// yellow theme
@if $is-yellow-theme {
  $buttons: #e0d72b;
  $operators: #ada721;
  $dark: #635f05;
}

// green theme
@if $is-green-theme {
  $buttons: #6fe036;
  $operators: #55ad29;
  $dark: #28630a;
}

// turqoise theme
@if $is-turqoise-theme {
  $buttons: #4fe090;
  $operators: #3dad70;
  $dark: #156338;
}

// light blue theme
@if $is-lightblue-theme {
  $buttons: #41c3e0;
  $operators: #3295ac;
  $dark: #0f5463;
}

// dark blue theme
@if $is-darkblue-theme {
  $buttons: #3d52e0;
  $operators: #2f40ad;
  $dark: #0d1863;
}

// purple theme
@if $is-purple-theme {
  $buttons: #8a51e0;
  $operators: #6a3ead;
  $dark: #351663;
}

// pink theme
@if $is-pink-theme {
  $buttons: #e03db5;
  $operators: #ac2e8a;
  $dark: #630d4c;
}

// orange theme
@if $is-orange-theme {
  $buttons: #d95d0b;
  $operators: #a94908;
  $dark: #5c2500;
}

// blood orange theme
@if $is-bloodorange-theme {
  $buttons: #d94a1e;
  $operators: #a63817;
  $dark: #5c1500;
}

// red theme
@if $is-red-theme {
  $buttons: #e12928;
  $operators: #ad1f1f;
  $dark: #630404;
}



// PASTEL

@if $is-pastel {
  $buttons: lighten($buttons, 30%);
  $operators: lighten($operators, 30%);
  $dark: lighten($dark, 45%);
}