@use "Global/themes" as theme;

.calculator {
  grid-column-start: left-center;
  grid-column-end: right-center;
  grid-row-start: calculator-top;
  grid-row-end: calculator-bottom;

  display: flex;
  flex-direction: column;

  z-index: 1;
}

.calculator-top {
  height: 20%;
  width: 100%;

  padding: 1vw;
  border-radius: 1vw 1vw 0 0; // values move clockwise from top left corner

  overflow: hidden;

  display: flex;
  align-items: center;

  background: theme.$dark;
}

.calculation-expression {

  font-size: 4vw;
  letter-spacing: 0.2vw;

  @media only screen and (max-width: 1200px) { // mobile responsiveness
    font-size: 18vw;
  }

}

.calculation-result {

  font-size: 2.5vw;
  opacity: 0.6;

  padding-top: 1vw;

  @media only screen and (max-width: 1200px) { // mobile responsiveness
    font-size: 10vw;
    padding-top: 5vw;
  }

}

.calculator-body {
  height: 80%;
  width: 100%;
  
  font-size: 2vw;

  @media only screen and (max-width: 1200px) { // mobile responsiveness
    font-size: 10vw;
  }

  background-color: theme.$buttons;
  border-radius: 0 0 1vw 1vw;

  display: grid;

  grid-template-columns: [first] 25% [second] 25% [third] 25% [fourth] 25% [last];
  grid-template-rows: [first] 25% [second] 25% [third] 25% [fourth] 25% [last];
}

.calculator-body > * {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



.add {
  grid-column: fourth / last;
  grid-row: first / second;
  background: theme.$operators;
}

.subtract {
  grid-column: fourth / last;
  grid-row: second / third;
  background: theme.$operators;
}

.multiply {
  grid-column: fourth / last;
  grid-row: third / fourth;
  background: theme.$operators;
}

.divide {
  grid-column: fourth / last;
  grid-row: fourth / last;
  background: theme.$operators;
  border-radius: 0 0 1vw 0;
}

.decimal {
  grid-column: first / second;
  grid-row: fourth / last;
}

.zero {
  grid-column: second / third;
  grid-row: fourth / last;
}

.submit {
  grid-column: third / fourth;
  grid-row: fourth / last;
}

.one {
  grid-column: first / second;
  grid-row: third / fourth;
}

.two {
  grid-column: second / third;
  grid-row: third / fourth;
}

.three {
  grid-column: third / fourth;
  grid-row: third / fourth;
}

.four {
  grid-column: first / second;
  grid-row: second / third;
}

.five {
  grid-column: second / third;
  grid-row: second / third;
}

.six {
  grid-column: third / fourth;
  grid-row: second / third;
}

.seven {
  grid-column: first / second;
  grid-row: first / second;
}

.eight {
  grid-column: second / third;
  grid-row: first / second;
}

.nine {
  grid-column: third / fourth;
  grid-row: first / second;
}