.footer {
  grid-row-start: calculator-bottom;
  grid-row-end: bottom-edge;
  grid-column-start: left-edge;
  grid-column-end: right-edge;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  z-index: 1;
}

.footer-text {
  width: 22vw;

  text-align: center;

  font-size: 1vw;
  opacity: 0.4;
  color: var(--dark);

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  @media only screen and (max-width: 1200px) {
    font-size: 3vw;
    width: 80vw;
  }
}