body {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box; // important for divs to not change size based on padding or margin change
}

.main {
  display: grid;
  grid-template-columns: [left-edge] 20vw [left-center] 60vw [right-center] 20vw [right-edge];
  grid-template-rows: [top-edge] 20vh [calculator-top] 60vh [calculator-bottom] 20vh [bottom-edge];

  z-index: 1;
}